body {
    background: url(https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW91bnRhaW4lMjBzdGFyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1400&q=60) no-repeat center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
  }

  .content{
    background-color: rgba(191, 191, 172, 0.3);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding: 10px;
  }
  
  .bigText{
      text-align: center;
      font-weight: 1000;
      font-size: calc(5vw);
      margin-top: 30px;
      margin-bottom: 10px;
      color: rgb(48, 18, 129);
   }
  
  .timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    color: darkred;
  }

  p{
    color: red;
    font-size: calc(3vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  span{
    font-size: calc(2vw);
    color: rgb(9, 9, 177);
  }

  @media screen and (max-width: 600px) {
    p {
      font-size: 16px;
    }
    span {
      font-size: 16px;
    }
    .bigText {
      font-size: 20px;
    }
  }
  
  
  